*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px 5%;
}

.timer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}