*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px 5%;
    text-align: center;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 100%;
    background: url("./bg.jpg") center;
    background-color: rgba(0, 0, 0, 0.534);
    background-size: cover;
    background-blend-mode: soft-light;
    color: #f8f8f8;
}

div.time-input-wrapper {
    margin: 40px 0;
}

input#timeInput {
    padding: 7px 15px;
    height: 55px;
    font-size: 1.2rem;
    margin-bottom: 7px;
    border: none;
}

div.time-input-wrapper h4 {
    color: #c4c4c4;
}

.timer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 40px 0;
    font-size: 0.8rem;
    color: #c4c4c4;
}

.timer-wrapper h4 {
    padding: 10px;
    width: 70px;
    border: 1px solid gray;
    font-size: 1.5rem;
    color: #f8f8f8;
}

button {
    padding: 7px;
    height: 45px;
    min-width: 100px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
}

button:hover {
    background-color: #776135;
    color: #f8f8f8;
}

button#startBtn {
    margin-right: 20px;
}

*:focus {
    outline: 2px solid #b19255;
}